<a href="https://colab.research.google.com/github/ThePrax12/MLcourse/blob/main/%D0%97%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D0%B52.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Коллекции в Python.

Коллекции - это специальные структуры данных, которые позволяют хранить множество элементов одного или разных типов. Они очень полезны для организации и обработки данных.

##Списки list()

Lists в Python являются одним из наиболее универсальных и широко используемых типов коллекций. Они представляют собой упорядоченные изменяемые коллекции элементов.

Создание списка

In [ ]:
arr = [1, 2, 3.25, 'a', 'qwerty', [1,2,3] ]
# добавляем число
arr.append(1) #метод привязан к объекту и чтото с ним совершает
# добавляем строку
arr.append('1 2 3')
# смотрим что хранится
print(arr, type(arr))
print("Длинна этого списка", len(arr))

[1, 2, 3.25, 'a', 'qwerty', [1, 2, 3], 1, '1 2 3'] <class 'list'>
Длинна этого списка 8

In [ ]:
#создаём список из строки через команду list(), он автоматически разделится на элементы списка
arr1 = list('123467')
print('1:', arr1)

arr2 = list()
print('2:', arr2)

arr3 = []
print('3:', arr3)

1: ['1', '2', '3', '4', '6', '7']
2: []
3: []

Операции со списками совершаются аналогично строкам:

In [ ]:
lst1 = [1,2,3]
lst2 = [4,5,6]

print(lst1 + lst2)
print(lst1 * 2)
print(2 in lst1)
print([1,2] in lst1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3]
True
False

### Индексация и срезы

Индексация и срезы работают также как и со строками.

In [ ]:
#   -8 -7 -6 -5 -4 -3 -2 -1
#    0  1  2  3  4  5  6  7
A = [1, 2, 3, 4, 5, 6, 7, 8]


Срезу для списка `A` берётся следующим образом:
```
A[начало:конец-1:шаг]
```

In [ ]:
print('От начала до (3-1=)2 элемента:', A[:3]) # 1, 2, 3
print('От шестого элемента до конца:', A[6:]) # 7,9
print('От 3-го элемента до 5-ого с шагом 1:', A[3:6:1]) # 3, 4, 5
print('От первого элемента до 6-ого с шагом 2:', A[1:7:2]) # 2, 4,  6
print('От конца до 4-го элемента с шагом 1:', A[-1:4]) # none
print('Ничего не вывелось, так как шаг положительный, а движение должно быть отрицательным')
print('От конца до 4-го элемента с шагом -1:', A[-1:4:-1]) # 8, 7, 6
print('От конца до -4 элемента с шагом -1:', A[-1:-4:1]) # none
print('Последний элемент в списке:', A[-1]) # 8
print('От -7 элементам до конца:', A[-7:]) # 2, 3, 4, 5, 6, 7, 8

От начала до (3-1=)2 элемента: [1, 2, 3]
От шестого элемента до конца: [7, 8]
От 3-го элемента до 5-ого с шагом 1: [4, 5, 6]
От первого элемента до 6-ого с шагом 2: [2, 4, 6]
От конца до 4-го элемента с шагом 1: []
Ничего не вывелось, так как шаг положительный, а движение должно быть отрицательным
От конца до 4-го элемента с шагом -1: [8, 7, 6]
От конца до -4 элемента с шагом -1: []
Последний элемент в списке: 8
От -7 элементам до конца: [2, 3, 4, 5, 6, 7, 8]

Списки изменяемые!!!!

In [ ]:
A = [1, 2, 3, 4, 5, 6, 7, 8]

A[0] = 'Hello'
A[-1] = 'World'
A

['Hello', 2, 3, 4, 5, 6, 7, 'World']

In [ ]:
lst = [1, 2, 3, 4]
lst[0:2] = ['A','B','C']
print(lst)

['A', 'B', 'C', 3, 4]

Двумерный массив - список списков

In [ ]:
lst2d =   [[1,2,3],
          [4,5,6],
          [7,8,9]]

print(lst2d[0])
print(lst2d[1][2])

[1, 2, 3]
6

### Функции и методы списков

len(), min(), max(), sum()

In [ ]:
my_list = [5, 2, 8, 1, 9, 3, 6]

# Функция len() возвращает количество элементов в списке
length = len(my_list)
print("Длина списка:", length)

# Функция min() возвращает наименьший элемент в списке
minimum = min(my_list)
print("Минимальный элемент:", minimum)

# Функция max() возвращает наибольший элемент в списке
maximum = max(my_list)
print("Максимальный элемент:", maximum)

# Функция sum() возвращает сумму всех элементов в списке (если они числовые)
total_sum = sum(my_list)
print("Сумма всех элементов:", total_sum)

Длина списка: 7
Минимальный элемент: 1
Максимальный элемент: 9
Сумма всех элементов: 34

extend():
Расширяет список, добавляя элементы из другого списка.

In [ ]:
my_list = [1, 2, 3]
another_list = [4, 5, 6]
my_list.extend(another_list)
print(my_list)

[1, 2, 3, 4, 5, 6]

insert():
Вставляет элемент в указанную позицию.

In [ ]:
my_list = [1, 2, 3]
my_list.insert(1, 4)  # Вставляем 4 на позицию 1
print(my_list)

[1, 4, 2, 3]

remove():
Удаляет первое вхождение указанного элемента из списка.

In [ ]:
my_list = [1, 2, 3, 2]
my_list.remove(2)
print(my_list)

[1, 3, 2]

pop():
Удаляет элемент по индексу и возвращает его значение. Если индекс не указан, удаляется последний элемент.

In [ ]:
my_list = [1, 2, 3]
popped_element = my_list.pop(1)  # Удаляем элемент с индексом 1 (т.е. 2)
print(popped_element)
print(my_list)

2
[1, 3]

sort():
Сортирует список.

In [ ]:
my_list = [3, 1, 2]
my_list.sort()
print(my_list)

my_list.sort(reverse=True)
print(my_list)

[1, 2, 3]
[3, 2, 1]

reverse():
Обращает порядок элементов в списке.

In [ ]:
my_list = [1, 2, 3]
my_list.reverse()
print(my_list)

[3, 2, 1]

my_list[::-1] создаёт копию, my_list.reverse() переворачивает сам список.

copy():
Создает копию списка.

In [ ]:
list1 = [1, 2, 3]
list2 = list1.copy()
print(list2)

[1, 2, 3]

Зачем copy() ?

Списки в Python являются изменяемыми объектами, поэтому когда вы делаете присваивание списку другой переменной, обе переменные начинают ссылаться на один и тот же объект в памяти. Поэтому изменение списка через одну переменную отразится на другой переменной, поскольку они обе ссылается на один и тот же изменяемый объект.

In [ ]:
lst1 = [1,2,3]
lst2 = lst1 # Неверно!!!!
lst1.append("TEST")
print(lst2)

[1, 2, 3, 'TEST']

In [ ]:
lst1 = [1,2,3]
lst2 = lst1.copy() # Неверно!!!!
lst1.append("TEST")
print(lst2)

[1, 2, 3]

split():
Метод split() разбивает строку на подстроки с помощью разделителя (по умолчанию пробел) и возвращает список подстрок.

In [ ]:
my_string = "1 2 3 4 5 6"
my_list = my_string.split()
print(my_list)

['1', '2', '3', '4', '5', '6']

In [ ]:
my_string = "apple,banana,orange"
fruits_list = my_string.split(',')
print(fruits_list)

['apple', 'banana', 'orange']

join() используется для объединения списка строк в одну строку, вставляя указанный разделитель между каждой строкой списка. Этот метод обратный по своей сути методу split().

In [ ]:
fruits_list = ['apple', 'banana', 'orange']
my_string = '; '.join(fruits_list)
print(my_string)

apple; banana; orange

##Словари dict()

Словарь используется для хранение пары объектов вида:

```
<ключи>:<значение>
```
Это очень удобная форма хранения данных, называемая "ассоцированный массив".

Словарь - это структура данных, которая позволяет хранить пары ключей и их соответствующих значений. Ключи в словаре должны быть уникальными и неизменяемыми, а значения могут быть любого типа данных: числа, строки, списки, другие словари и т.д.

In [ ]:
# Создадим пустой словать Capitals
Capitals = dict() #Capitals = {}

# Заполним его несколькими значениями
Capitals['Russia'] = 'Moscow'
Capitals['Ukraine'] = 'Kiev'
Capitals['USA'] = 'Washington'

Capitals

{'Russia': 'Moscow', 'Ukraine': 'Kiev', 'USA': 'Washington'}

In [ ]:
# Считаем название страны
print('Введите текст, в какой стране вы живете?')
country = input()

Введите текст, в какой стране вы живете?
Russia

In [ ]:
# Проверим, есть ли такая страна в словаре Capitals
if country in Capitals:
    # Если есть - выведем ее столицу
    print('Столица вашей страны', Capitals[country])
else:
    # Запросим название столицы и добавив его в словарь
    print('Мы не нашли такую страну. Введите текст, как называется столица вашей страны?')
    city = input()
    Capitals[country] = city

Столица вашей страны Moscow

In [ ]:
print(Capitals.keys(), "- Этот метод возвращает представление ключей в заданном словаре", '\n')

print(Capitals.values(), "- Этот метод возвращает представление значений в заданном словаре", '\n')

print(Capitals.items(), "- Этот метод возвращает представление пар (кортежей) ключ-значение в заданном словаре", '\n')

dict_keys(['Russia', 'Ukraine', 'USA']) - Этот метод возвращает представление ключей в заданном словаре

dict_values(['SPB', 'Kiev', 'Washington']) - Этот метод возвращает представление значений в заданном словаре

dict_items([('Russia', 'SPB'), ('Ukraine', 'Kiev'), ('USA', 'Washington')]) - Этот метод возвращает представление пар (кортежей) ключ-значение в заданном словаре

Словари изменяемые! для копирования используем .copy()

In [ ]:
 Capitals['Russia'] = 'SPB'
 Capitals

{'USA': 'Washington', 'Russia': 'SPB'}

Удаление элементов

In [ ]:
# Удаление элемента по ключу
del Capitals['Russia']

# Удаление элемента и возврат его значения
value = Capitals.pop('Ukraine')
print(value)
print(Capitals)

Kiev
{'USA': 'Washington'}

get(key): Возвращает значение, связанное с указанным ключом. Если ключ отсутствует, возвращает None.

In [ ]:
my_dict = {'apple': 5, 'banana': 7, 'orange': 3}

# Проверка наличия ключа в словаре
print('apple' in my_dict)

# Получение значения по ключу с использованием get()
print(my_dict.get('banana'))

print(my_dict.get('kiwi'))

print(my_dict.get('kiwi', 123)) # необязательный параметр - что выводить, если не нашли такого ключа в словаре.

True
7
None
123

P.S. Словари могут быть достаточно сложными:

In [ ]:
mixed_dict = {'name': 'John', 42: 'forty-two', (1, 2): 'tuple'}

# Добавление словаря в качестве значения
mixed_dict['student'] = {'age': 15, 'grade': '9th'}

## Кортежи tuple()

Кортежи в Python очень похожи на списки, но с одним основным отличием: они неизменяемы. По факту они как строки, но могут хранить любые элементы. Кортежи работают быстрее списков.

In [ ]:
tup = (1, 2, 3, 'Привет!', [1,2,3])
print(tup, type(tup))

(1, 2, 3, 'Привет!', [1, 2, 3]) <class 'tuple'>

In [ ]:
tup[-1]

[1, 2, 3]

In [ ]:
tup[-1] = 123

TypeError: 'tuple' object does not support item assignment

## Множества set()

Множество в Python - это неупорядоченная коллекция уникальных элементов. Это означает, что в множестве каждый элемент уникален, и его порядок не гарантирован.

In [ ]:
A = {1, 2, 3}
print(A)
#ЗАПОМНИТЕ нельзя написать A = {} для создания множества, интерпритатор поймёт это как пустой словарь

A = set()
print(A)

{1, 2, 3}
set()

In [ ]:
A = [1,2,3,1,2,3,1,2,3]
set_A = set(A)
print(set_A)

{1, 2, 3}

In [ ]:
print(set_A[0])

TypeError: 'set' object is not subscriptable

###Функции и методы

add(): Добавляет элемент в множество.

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

remove(): Удаляет указанный элемент из множества. Если элемент не найден, возникает ошибка.

In [ ]:
my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)

{1, 3}

discard(): Удаляет указанный элемент из множества. Если элемент не найден, ничего не происходит (не возникает ошибка).

pop(): "достаёт" первый элемент из множества

In [ ]:
my_set = set(list('Hello'))
x = my_set.pop()
print(x)
print(my_set)

H
{'l', 'e', 'o'}

## Задачи

###№1 На вход подаётся 3 строки из маленьких английских букв. Нужно вывести один список, в котором есть все значения из всех трёх строк без повторений. Отсортируйте результирующий список в алфавитном порядке.

###Пример решения

In [ ]:
lst1 = list(input())
lst2 = list(input())
lst3 = list(input())

lst = lst1 + lst2 + lst3
lst = list(set(lst))
lst.sort()
print(lst)

abcde
e
abcdqwe
['a', 'b', 'c', 'd', 'e', 'q', 'w']

###№2 На вход подаются буквы через пробел. Выведите эти буквы в обратном порядке (строкой). Между буквами вместо пробела должно быть двоеточие.

###Пример решения

In [ ]:
lst1 = input().split()
lst2 = lst1.reverse()
print(':'.join(lst1))

q w e r t y
y:t:r:e:w:q

###№3 Задан словарь с оценками студентов:
``` results = {
    "Alice": 75,
    "Bob": 92,
    "Charlie": 88,
    "David": 65,
    "Emma": 80
} ```
Выведите максимальный, минимальный и средний балл учеников.(каждый на новой строке). Если средний балл больше 80, удалите студента с самым высоким баллом. Если балл меньше или равен 80, удалите студента с самым низким баллом. Выведите полученный словарь на новой строке.

###Пример решения

In [ ]:
results = {
    "Alice": 75,
    "Bob": 92,
    "Charlie": 88,
    "David": 65,
    "Emma": 80
}

max_score = max(results.values())
min_score = min(results.values())

average_score = sum(results.values()) / len(results)

print( max_score)
print( min_score)
print(average_score)

del results['David']
print(results)

92
65
80.0
{'Alice': 75, 'Bob': 92, 'Charlie': 88, 'Emma': 80}

#Циклы for и while

Циклы python — for и while представляют собой операторы языка программирования, то есть операторы итерации, которые позволяют повторять код определенное количество раз.

##for:

Как уже упоминалось ранее, цикл for в Python является итератором, основанным на цикле. Он проходит по элементам list и tuple, строкам, ключам словаря и другим итерируемым объектам.

В Python цикл начинается с ключевого слова for, за которым следует произвольное имя переменной, которое будет хранить значения следующего объекта последовательности. Общий синтаксис for...in в python выглядит следующим образом:

```
for <переменная> in <последовательность>:
    <действие>
else:
    <действие>
```

Элементы «последовательности» перебираются один за другим «переменной» цикла; если быть точным, переменная указывает на элементы. Для каждого элемента выполняется «действие».

Пример простого цикла

In [ ]:
for i in range(5):
    print(i)

Этот цикл выводит числа от 0 до 4. Давайте разберем, что здесь происходит:

range(5) создает последовательность чисел от 0 до 4 (включительно).


for i in range(5): говорит Python, что мы хотим выполнить следующий блок кода для каждого значения i в диапазоне от 0 до 4.


print(i) выводит текущее значение i.

Часто в циклах используется range().

Функция range() в Python создает последовательность чисел в определенном диапазоне. Синтаксис : ```range(start, stop, step)```

In [ ]:
print(range(1,10,2))

range(1, 10, 2)

In [ ]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]

In [ ]:
print(list(range(1,10,-1))) #неверно

[]

In [ ]:
print(list(range(10,1))) #неверно

[]

In [ ]:
print(list(range(10,1,-1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
sum = 0
for i in range(1,11):
   sum+=i
print(sum)

55

Перебираем непосредственно элементы коллекции: (список, строка, словарь)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print("I like", fruit)

I like apple
I like banana
I like cherry

In [ ]:
word = "Python"
for letter in word:
    print(letter)

P
y
t
h
o
n

In [ ]:
person = {"name": "John", "age": 30, "city": "New York"}

for key, value in person.items():
    print(key + ":", value)

print()

for key in person.keys():
    print(key)

print()

for value in person.values():
    print(value)

name: John
age: 30
city: New York

name
age
city

John
30
New York

### break, continue


Ключевое слово break используется для прерывания выполнения цикла.
Когда Python встречает оператор break внутри цикла, выполнение цикла немедленно прекращается, и управление передается на первую строку кода после цикла.
Это может быть полезно, когда требуется выйти из цикла, как только достигнуто определенное условие. else срабатывает, если break не было.

In [ ]:
names = ["Петр", "Иван", "Максим", "Мария"]

# Цикл по очередно перебирает имена в списке
# Как только мы нашли имя Максим, цикл необходимо преравать и не просматривать следующие элементы
for name in names:
    if name == "Максим":
        print("Меня зовут Максим!")
        break
    print("Другие имена", name)
else:
    print("Спасибо, теперь я знаю все имена")

Другие имена Петр
Другие имена Иван
Меня зовут Максим!

In [ ]:
names = ["Петр", "Иван", "Мария"] # нет максима


for name in names:
    if name == "Максим":
        print("Меня зовут Максим!")
        break
    print("Другие имена", name)
else:
    print("Спасибо, теперь я знаю все имена")

Другие имена Петр
Другие имена Иван
Другие имена Мария
Спасибо, теперь я знаю все имена


Ключевое слово continue используется для пропуска текущей итерации цикла и перехода к следующей итерации.
Когда Python встречает оператор continue внутри цикла, выполнение текущей итерации прекращается, и управление передается на следующую итерацию цикла.
Это может быть полезно, когда нужно пропустить определенные элементы или выполнить дополнительные действия перед началом следующей итерации.

In [ ]:
names = ["Петр", "Иван", "Максим", "Мария"]

for name in names:
    if name == "Максим":
        continue
        print("ТЕКСТ")
    print("Другие имена", name)

Другие имена Петр
Другие имена Иван
Другие имена Мария

##while()


```
while <условие (булевское выражение)>:
    <code>
```

Здесь код, написанный вместо `code` будет выполняться каждую итерацию цикла, пока условие после `while` будет выполняться.

In [ ]:
x = 0
while x < 5:
    print(x)
    x += 1

Аккуратнее с зацикливанием!

In [ ]:
x = 1
while x > 0: #Всегда True !!!!!
    print(x)
    x += 1

In [ ]:
x = 1

while x < 10:
    if x == 3:
        x += 1
        continue

    print(x)
    if x == 5:
        break

    x += 1

1
2
4
5

In [ ]:
letter = 'x'
my_letter = 'a'

while my_letter != letter:
  if my_letter in 'bcdef':
    my_letter = chr(ord(my_letter) + 1)
    continue
  print(my_letter)
  my_letter = chr(ord(my_letter) + 1)

a
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w

##Генераторы списков и словарей

Генераторы списков и словарей в Python - это компактный и эффективный способ создания списков и словарей с помощью выражений в одной строке кода. Они позволяют избежать использования циклов и условных операторов, делая код более читаемым и кратким.

In [ ]:
# Пример генератора списка для создания списка квадратов чисел от 0 до 9
squares = [x ** 2 for x in range(10)]
print(squares)

# Пример генератора списка для фильтрации только четных чисел от 0 до 9
even_numbers = [x for x in range(10) if x % 2 == 0]
print(even_numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8]

In [ ]:
ex = [1, 2, 3, 4, 5, 6, 7]
arr = [True if i % 2 == 0 else False for i in ex]
print(arr)

[False, True, False, True, False, True, False]

Генераторы словарей позволяют создавать новый словарь на основе уже существующего словаря или другой итерируемой структуры данных.

In [ ]:
# Пример генератора словаря для создания словаря, где ключами являются числа от 0 до 4, а значениями - их квадраты
square_dict = {x: x ** 2 for x in range(5)}
print(square_dict)

# Пример генератора словаря для обмена ключей и значений в словаре
my_dict = {'a': 1, 'b': 2, 'c': 3}
flipped_dict = {value: key for key, value in my_dict.items()}
print(flipped_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{1: 'a', 2: 'b', 3: 'c'}

##Решение задач

###№1 на вход подаётся список чисел через пробел. Необходимо создать новый список, содержащий только положительные числа из исходного списка.

###Пример решения

In [ ]:

numbers = [int(c) for c in input().split()]


positive_numbers = [x for x in numbers if x > 0]

print(positive_numbers)

-1 2 -3 3 3 -45
[2, 3, 3]

###№2 Создать список списков, представляющий таблицу умножения от 1 до 10.

###Пример решения

In [ ]:

multiplication_table = [[x * y for y in range(1, 11)] for x in range(1, 11)]


for row in multiplication_table:
    print(row)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

###№3 на вход подаётся строка. Необходимо создать словарь, в котором ключами будут буквы, а значениями - количество их появлений в строке.
Для решения используйте метод строки count, котоырый возвращает количество повторений заданного символа в строке
 ```string.count(letter)```

###Пример решения

In [ ]:
string = input()

# Генератор словаря для подсчета букв в строке
letter_counts = {letter: string.count(letter) for letter in string if letter != ' '}

print(letter_counts)

lol keke
{'l': 2, 'o': 1, 'k': 2, 'e': 2}

###№4 Вывеите числа от 1 до 1000, которые делятся на 7 и не делятся на 13. Также на конце у них долна находится единица. Выводите числа через пробел.

###Пример решения

In [ ]:
number = 1

while number <= 1000:
    if number % 7 == 0 and number % 13 != 0 and number % 10 == 1:
        print(number, end=" ")
    number += 1

49 119 189 259 329 399 469 539 609 679 749 889 959

###№5 Посчитайте сумму квадратных корней нечётных чисел от 3 до 93. Ответ округлите с помощью int().

###Пример решения

In [ ]:
sum_of_sqrt = 0
for number in range(3, 94, 2):
    sum_of_sqrt += number ** 0.5

rounded_sum = int(sum_of_sqrt)

print(rounded_sum)

302

###№6 Напишите код, который все элементы массива x с нечетными индексами переставит в обратном порядке. ( на вход подаётся число n - поличество элементов в массиве и потом каждый раз на новой строке элементы по очереди)

Т.е. если x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], то код должен получать [0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

###Пример решения

In [ ]:
n = int(input())
x = []
for i in range(n):
  x.append(int(input()))

ans = []
for i in range(len(x)):
  if i%2 == 0:
    ans.append(x[i])
  else:
    ans.append(x[-i])

print(ans)

10
0
1
2
3
4
5
6
7
8
9
[0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

###№7 Предсказание популяции:
На вход программе подается три натуральных числа m,p,n:
m: стартовое количество организмов;
p: среднесуточное увеличение в %;
n: количество дней для размножения.
Напишите программу, которая предсказывает размер популяции организмов. Программа должна выводить размер популяции в каждый день, начиная с
1 и заканчивая n-м днем. (каждое число на новой строке).

###Пример решения

In [ ]:
m, p, n = int(input()), int(input()), int(input())
for i in range(n):
    print(i + 1, float(m))
    m = m * (1 + p / 100)

5
12
35
1 5.0
2 5.6000000000000005
3 6.272000000000001
4 7.0246400000000015
5 7.867596800000002
6 8.811708416000004
7 9.869113425920006
8 11.053407037030407
9 12.379815881474057
10 13.865393787250945
11 15.52924104172106
12 17.39274996672759
13 19.479879962734902
14 21.81746555826309
15 24.435561425254665
16 27.367828796285227
17 30.651968251839456
18 34.33020444206019
19 38.44982897510742
20 43.06380845212032
21 48.231465466374765
22 54.01924132233974
23 60.50155028102051
24 67.76173631474298
25 75.89314467251214
26 85.0003220332136
27 95.20036067719924
28 106.62440395846316
29 119.41933243347876
30 133.7496523254962
31 149.79961060455577
32 167.77556387710248
33 187.9086315423548
34 210.4576673274374
35 235.7125874067299

###№8 На вход подаётся последовательность : ```<число> <операция> <число> <операция> <число> ...```

Из операций есть + и -. Посчитайте заданное выражаение.

###Пример решения

In [ ]:
arr = input().split()
sum = int(arr[0])
for i in range(1,len(arr)):
  if arr[i] == '+':
    sum += int(arr[i+1])
  elif arr[i] == '-':
    sum -= int(arr[i+1])
print(sum)

1 + 3 - 5 + 1 + 1 - 3 - 1
-3

###№9 У нас есть список студентов и их оценки по предметам. Необходимо посчитать средний балл каждого студента и вывести его в формате словаря, где ключом будет имя студента, а значением - его средний балл.
```students = {
    'Анна': [4, 5, 3, 4],
    'Петр': [3, 3, 4, 5],
    'Мария': [5, 5, 5, 4],
    'Иван': [4, 4, 4, 4]
}
```

Ожидаемый результат:

```
average_grades = {
    'Анна': 4.0,
    'Петр': 3.75,
    'Мария': 4.75,
    'Иван': 4.0
}
```

###Пример решения

In [ ]:
students = {
    'Anna': [4, 5, 3, 4],
    'Peter': [3, 3, 4, 5],
    'Maria': [5, 5, 5, 4],
    'John': [4, 4, 4, 4]
}

average_grades = {}

for student, grades in students.items():
    average_grade = sum(grades) / len(grades)
    average_grades[student] = average_grade

print(average_grades)

{'Anna': 4.0, 'Peter': 3.75, 'Maria': 4.75, 'John': 4.0}